<!-- <mat-toolbar style="background-color: rgb(33,142,67); color: white; height: 40px;">
  TASK MANAGEMENT
</mat-toolbar> -->


<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <mat-card class="background">
    <mat-card-header><mat-card-title>TASK MANAGEMENT</mat-card-title></mat-card-header><br>
    <mat-card-content >


      <div class="row box">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Project" formControlName="projectId">
              <mat-option *ngFor="let item of projects$ | async" [value]="item.id">
                {{item.projectName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <button (click)="manageCompany()"
          class="material-icons" style=" color: rgb(10, 111, 189); font-size: 25px; margin-right: 3px;">edit_note
           </button> -->
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Assigned Employee" formControlName="assignedTo">
              <mat-option *ngFor="let item of users" [value]="item.id">
                {{item.name | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        </div>

        <div class="row box">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Task description" formControlName="description"></textarea>
            </mat-form-field>
          </div>

        <!-- <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Assigned Trainee" formControlName="traineeId">
              <mat-option *ngFor="let item of trainees" [value]="item.id">
                {{item.name | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

</div>



      <div class="row box">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Deadline: choose a date</mat-label>
            <input formControlName="deadline" matInput [matDatepicker]="picker" [min]="minDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>


      <div class="col">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Remarks" formControlName="remarks"></textarea>
        </mat-form-field>
      </div>

      </div>


    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!isEdit" mat-raised-button type="submit" [disabled]="!taskForm.valid">ADD</button>&nbsp;&nbsp;
      <button *ngIf="isEdit" mat-raised-button type="button" [disabled]="!taskForm.valid" (click)="editFunction()">UPDATE</button>&nbsp;&nbsp;
    </mat-card-actions>
  </mat-card>




</form>



<!-- ------------------------------------------------------------------------------------------------- -->

<table mat-table *ngIf="tasks" [dataSource]="tasks" class="mat-elevation-z8">
  <ng-container matColumnDef="projectName">
    <th mat-header-cell *matHeaderCellDef>projectName</th>
    <td mat-cell *matCellDef="let element"> {{element.project.projectName}} </td>
 </ng-container>
  <ng-container matColumnDef="description">
     <th mat-header-cell *matHeaderCellDef>description</th>
     <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="assignedBy">
    <th mat-header-cell *matHeaderCellDef>assignedBy</th>
    <td mat-cell *matCellDef="let element"> {{element.by.name}} </td>
 </ng-container>

 <ng-container matColumnDef="assignedTo">
  <th mat-header-cell *matHeaderCellDef>assignedTo</th>
  <td mat-cell *matCellDef="let element">
    <a *ngIf="element.assignedTo!= null">{{element.user.name}}</a>
    <a *ngIf="element.assignedTo!= null && element.traineeId != null">/</a>
    <a *ngIf="element.traineeId != null">{{element.trainee.name}}</a>
  </td>
</ng-container>

<ng-container matColumnDef="assignedOn">
  <th mat-header-cell *matHeaderCellDef>assignedOn</th>
  <td mat-cell *matCellDef="let element"> {{element.assignedOn}} </td>
</ng-container>

<ng-container matColumnDef="deadline">
  <th mat-header-cell *matHeaderCellDef>deadline</th>
  <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
</ng-container>
<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef>status</th>
  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
</ng-container>
<ng-container matColumnDef="remarks">
  <th mat-header-cell *matHeaderCellDef>remarks</th>
  <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
</ng-container>

<ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef>Manage </th>
  <td mat-cell *matCellDef="let element">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <i  (click)="editTask(element.id)"  class="fa fa-edit" style="font-size: 20px; color:rgb(0, 11, 128)"></i>
    &nbsp;&nbsp;
    <i  (click)="deleteTask(element.id)" class="fa fa-trash" style="font-size: 20px; color:rgb(199, 90, 90)"></i>
    &nbsp;&nbsp;
    <!-- <mat-icon (click)="viewTaskReport(element.id)" style="font-size: 20px; color:rgb(55, 186, 94);">launch</mat-icon> -->
    <i  (click)="viewTaskReport(element.id)" class="fa fa-newspaper-o" style="font-size: 20px; color:rgb(55, 186, 94)"></i>
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
