.full-width{
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.full-width {
  width: 90%;
}

.full-width-1 {
  width: 100%;
  margin-right: 20px;
}

.full-width-2{
  width: 100%;
  margin-right: 20px;
}
.table-container {
  overflow-x: auto;
}


table {
  width: 100%;
}


button:enabled {
  background-color :rgb(43, 101, 127);
  color : white
}
