
<form [formGroup]="leaveRequestForm">
  <mat-card class="background">
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Leave Type</mat-label>
            <mat-select formControlName="leaveType" placeholder="Select leave type">
              <mat-option value="annual">Annual Leave</mat-option>
              <mat-option value="sick">Sick Leave</mat-option>
              <mat-option value="personal">Personal Leave</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill">
              <mat-label>Reason</mat-label>
              <textarea matInput formControlName="reason" placeholder="Enter reason"></textarea>
              <!-- <mat-error *ngIf="leaveRequestForm.get('reason').hasError('required')">
                Reason is required
              </mat-error> -->
            </mat-form-field>

          </div>


      </div>




      <div class="row">

        <div class="col">
          <mat-form-field appearance="fill">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="startDatePicker" formControlName="fromDate" placeholder="Choose start date">
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="endDatePicker" formControlName="toDate" placeholder="Choose end date">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        </div>


      </div>



      <mat-card-actions>
        <button *ngIf="!isEdit" mat-raised-button (click)="submitForm()" [disabled]="!leaveRequestForm.valid">REQUEST</button>&nbsp;&nbsp;
        <button *ngIf="isEdit" mat-raised-button type="button" [disabled]="!leaveRequestForm.valid" (click)="editFunction()">UPDATE</button>&nbsp;&nbsp;
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>


<table mat-table *ngIf="leaves" [dataSource]="leaves" class="mat-elevation-z8">
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>userId</th>
    <td mat-cell *matCellDef="let element">
      <a *ngIf="element.userId"> {{element.user.name}} </a>
      <a *ngIf="element.traineeId"> {{element.trainee.name}} </a>
    </td>
 </ng-container>
  <ng-container matColumnDef="leaveType">
     <th mat-header-cell *matHeaderCellDef>leaveType</th>
     <td mat-cell *matCellDef="let element"> {{element.leaveType}} </td>
  </ng-container>

  <ng-container matColumnDef="reason">
    <th mat-header-cell *matHeaderCellDef>reason</th>
    <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
 </ng-container>

 <ng-container matColumnDef="fromDate">
  <th mat-header-cell *matHeaderCellDef>fromDate</th>
  <td mat-cell *matCellDef="let element"> {{element.fromDate | date: 'dd/MM/yyyy'}} </td>
</ng-container>

<ng-container matColumnDef="toDate">
  <th mat-header-cell *matHeaderCellDef>toDate</th>
  <td mat-cell *matCellDef="let element"> {{element.toDate | date: 'dd/MM/yyyy'}} </td>
</ng-container>

<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef>status</th>
  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
</ng-container>

<ng-container matColumnDef="remarks">
  <th mat-header-cell *matHeaderCellDef>remarks</th>
  <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
</ng-container>

<ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef>Manage </th>
  <td mat-cell *matCellDef="let element">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <i *ngIf="element.status.toLowerCase() == 'requested'" (click)="editLeave(element.id)"  class="fa fa-edit" style="font-size: 20px; color:rgb(0, 11, 128)"></i>
    &nbsp;&nbsp;
    <i *ngIf="element.status.toLowerCase() == 'requested'" (click)="deleteLeave(element.id)" class="fa fa-trash" style="font-size: 20px; color:rgb(199, 90, 90)"></i>
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
