<mat-sidenav-container autosize class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"> -->
  <mat-sidenav class="sidenav" [ngClass]="{'rotated': isExpanded}" #sidenav mode="side" opened="true">
    <mat-toolbar>
      <span *ngIf="isExpanded" style="margin-right: 8px;">
        <img style="width: 100%; height: 100%;" src="../../../../assets/img/tm.png" routerLink="home">
      </span>
      <span *ngIf="!isExpanded" style="margin-right: 8px;">
        <img style="width: 100%; height: 100%;" src="../../../../assets/img/tm.png" routerLink="home">
      </span>
      <span class="material-icons chevron_icon" style="color: rgb(56, 121, 151); font-size: 25px;"
      (click)="isExpanded = !isExpanded"[ngClass]="{'rotated': isExpanded}">chevron_right</span>
    </mat-toolbar>
    <mat-nav-list>

      <mat-list-item style="margin-left: 9px;" [routerLinkActive]="['active']" routerLink="home">
        <mat-icon style="color: rgb(56, 121, 151); font-size: 25px; margin-right: 5px;">dashboard</mat-icon>
        <a *ngIf="isExpanded">DASHBOARD</a>
      </mat-list-item>

      <mat-list-item style="margin-left: 9px;"[routerLinkActive]="['active']" routerLink="viewAssignedTask">
        <mat-icon style="color: rgb(56, 121, 151); font-size: 25px;">assignment</mat-icon>
        <a *ngIf="isExpanded">TASK</a>
      </mat-list-item>

      <mat-list-item style="margin-left: 9px;" [routerLinkActive]="['active']" routerLink="addticket">
        <mat-icon style="color: rgb(56, 121, 151); font-size: 25px;">confirmation_number</mat-icon>
        <a *ngIf="isExpanded">Tickets</a>
      </mat-list-item>

      <mat-list-item style="margin-left: 9px;" [routerLinkActive]="['active']" routerLink="leave">
        <mat-icon style="color: rgb(56, 121, 151); font-size: 25px;">event</mat-icon>
        <a *ngIf="isExpanded">LEAVE</a>
      </mat-list-item>


<!--
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="material-icons" style="color: rgb(33,142,67); font-size: 25px; margin-right: 3px;">assignment</span>
              <a *ngIf="isExpanded">TASK</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="task"  [routerLinkActive]="['active']">Manage task </a>

        </mat-expansion-panel>
      </mat-accordion> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:  rgb(79, 124, 192); color: white;">
      <span>TASK MANAGER - BACKLOG</span>
      <div class="nav_main">
        <mat-icon (click)="myProfile()">perm_identity</mat-icon>
        <mat-icon class="nav_username">notification_important</mat-icon>
         <!--<mat-icon class="nav_username" routerLink="settings">settings</mat-icon> -->
        <mat-icon class="nav_username" (click)="logOut()">power_settings_new</mat-icon>
        </div>





    </mat-toolbar>


   <div class="content-section">
    <router-outlet></router-outlet>
   </div>
  </mat-sidenav-content>
</mat-sidenav-container>
