<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
  <mat-card class="background">
    <div class="row">
      <div class="col">
        <mat-card-header>
          <mat-card-title style="color: navy;"> ROLE </mat-card-title>
        </mat-card-header>
      </div>
      <div class="col">
        <mat-card-header>
          <!-- <button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="homeClick()">
            <mat-icon>home</mat-icon>
          </button> -->
          &nbsp;<button mat-mini-fab color="primary" type="button" style="margin-left: auto;" aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" onClick="history.back()">
            <span class="material-icons" style="color: white;">exit_to_app</span>
          </button>
        </mat-card-header>
      </div>
    </div>
    <br><mat-card-content >

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Role Name" formControlName="roleName">
            <mat-error *ngIf="roleForm.controls['roleName'].hasError('required')">
              Name <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
      </div>
    </mat-card-content>

    <br><mat-card-actions>
      <button mat-raised-button  type="submit" [disabled]="!roleForm.valid">
        <span class="material-icons" style="font-size: 25px;">save</span>
      </button>&nbsp;&nbsp;
    </mat-card-actions>
  </mat-card>
</form>
